.faq {}

.faq-box {
  .faq-title {
    margin: 50px 0;
  }
}

.faq-box {
  .faq-title {
    margin: 50px 0;

    & h3 {
      font-size: 36px;
      color: #fff;
      font-weight: 700;
    }
  }
}

.faq-item_box {
  max-width: 100%;

  .ant-collapse {
    .ant-collapse-item {
      .ant-collapse-header {
        & span {
          font-size: 24px;

          color: #fff;
          font-weight: 700;
        }
      }
    }
  }
}

.faq-item_box {
  max-width: 100%;

  .ant-collapse {
    .ant-collapse-item {
      .ant-collapse-header {
        .faq-item_box {
          max-width: 100%;
          background-color: aqua;

          .ant-collapse {
            .ant-collapse-item {
              .ant-collapse-header {
                background-color: red;

                & span {
                  font-size: 24px;
                  color: #fff;
                  font-weight: 700;
                }
              }

              .ant-collapse-content {
                background-color: #272933 !important;

                .ant-collapse-content {
                  background-color: #272933;

                  & p {
                    font-size: 18px;
                    font-weight: 500;
                    color: #fff;
                  }

                  .faq-item_box {
                    max-width: 100%;
                    background-color: aqua;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.ant-collapse {
  .ant-collapse-item {
    .ant-collapse-header {
      & span {
        font-size: 24px;
        color: #fff;
        font-weight: 700;
      }
    }

    .ant-collapse-content {
      background-color: #272933;
    }

    .ant-collapse-content {
      background-color: #272933;
    }
  }
}